TaxManager.Tests/Service References/TaxManagerService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaxManager.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaxManager.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MunicipalityTaxDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MunicipalityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MunicipalityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaxType" type="xs:int" />
      <xs:element minOccurs="0" name="TaxValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MunicipalityTaxDTO" nillable="true" type="tns:MunicipalityTaxDTO" />
</xs:schema>